<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PrecomputedHashDirDiff.Properties.Settings.templateConnectionString1"
        connectionString="data source=&quot;C:\Users\YoniWas\Documents\Visual Studio 2015\Projects\PrecomputedHashDirDiff\PrecomputedHashDirDiff\bin\Debug\template.db3&quot;"
        providerName="System.Data.SQLite.EF6" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
